**{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
.bg-primary{
    background-color: #e47a7a !important;
    background-image: url(../assets/img/photo.jpg);
    background-size: cover;
    background-position: center;
}
p.redred{
    color: #1a4bb4;
    background-image: url(/assets/img/background.png);
    border: 30px solid;
    border-color: #3d6427;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-color: rgb(164, 152, 230);
}
.blueblue{
    color: #004777;
}
.yellow{
    color: #E3B505 !important;
}

body {
font-family: 'Noto Sans TC', sans-serif;
}
h1{
    font-family: 'noto serif';
}
.expdu_icon{
    color:#E3B505;
    padding: 5px;
}
.expdu_icon:hover{
    background-color:#E3B505;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.table-80{
    width: 80%;
    text-align: center;
}
.table{
    background-color: hsl(0, 0%, 70%,10%);
    border-radius: 1em;
    width: 80%;
}
.skillsicon{
    margin-right: 8px;
    color: #E3B505;
}
.textabout::first-letter{
    margin-left: 1.2em !important;
}
.texta {
    border: 2px solid hsl(0, 0%, 0%,35%);
    padding: 3%;
    border-radius: 3em;
    margin-bottom: 50px;
    width: 80%;
    text-align: center;
    margin:30px auto ;
    margin-top: 30px;
}
.midh1{
    text-align: center;
}
.social-icons{
    text-align: center;
}
.cwk{
    text-decoration: none;
    color: #E3B505;
    padding: 3px;
}
.cwk:hover{
    background-color: #E3B505;
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.fonts{
    font-size: 32px;
}
.ulpor li a{
    line-height: 2em;
    text-decoration: none;
    padding: 5px;
    color: #E3B505;
}
.ulpor li a:hover{
    color: rgb(108, 50, 141);
    background-color:#3d6fcc;
    border-radius: 5px;
    padding: 5px;
}
.intereststext::first-letter{
    margin-left: 1.2em ;
}
.intereststext{
    line-height: 2em;
}
.navbar-nav a:hover{
    font-size: 28px;
}
.fa-li{
    padding: 3px 0 3px 0;
}
.pl-5{
    padding-left: 0.5rem;
}

@media (max-width: 900px) {
    #about{
        border-radius: 0 0 40% 40% ;
        background-color: hsl(48, 96%, 45%,10%);
        margin-bottom: 2em;
    }
}
.cwk2{
    text-decoration: none;
    color: #c07621;
    line-height: 3em;
}
.cwk2:hover{
    background-color: #284e49;
    color: rgb(225, 241, 245);
    padding: 5px;
    border-radius: 10px;
}
ol.ryanlist{
    list-style-type:upper-roman；
}
ul.ryanlist{
    list-style-type:square；
}